*{
    box-sizing: border-box;
}
.SignIn_Component{
    width: 98vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3.6rem 5.7rem 3.6rem 6.6rem;
  width: 90.9rem;
  box-sizing: border-box;
}
.minimalism-login-page {
  box-shadow: 0rem 1.3rem 1.3rem 0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 3.4rem;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1.9rem 3.3rem 1.9rem 0;
  width: 78.6rem;
  height: 35rem;
  box-sizing: border-box;
}
.group-11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 7rem;
}

.welcome {
  font-family: "Smooch Sans";
  font-weight: 600;
  font-size: 6rem;
  color: #1c1c1c;
}

.we-are-glad-to-see-you-back-with-us {
  position: absolute;
  left: 15%;
  top: 26%;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.9rem;
  color: #1c1c1c;
}
.rectangle-143 {
    border-radius: 1.6rem;
    background: url("../assets/rectangle1431.jpeg") 50% / cover no-repeat;
    width: 37.2rem;
    position: relative;
    left: 8rem;
  }
  .email input{
    border-radius: 0.8rem;
    background: #F2F2F2;
    position: absolute;
    left: 7.7rem;
    top: 11.7rem;
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0 0.9rem 1.2rem;
    width: 22.8rem;
    border: none;
    outline: none;
  }
  .password input{
    border-radius: 0.8rem;
    background: #F2F2F2;
    position: absolute;
    left: 7.7rem;
    top: 16.4rem;
    display: flex;
    padding: 0.8rem 0 0.9rem 1.2rem;
    width: 22.8rem;
    border: none;
    outline: none;
  }
  .forgot-password {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    position: relative;
    top: 24%;
    left: 27%;
    cursor: pointer;
  }
  .group-10 button{
    border-radius: 0.8rem;
    background: #589A65;
    position: absolute;
    left: 7.7rem;
    bottom: 27.5%;
    padding: 0.7rem 1.1rem 0.9rem 0;
    width: 22.8rem;
    border: none;
  }
  .login {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.1rem;
    color: #FFFFFF;
  }
  .or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    position: relative;
    left: 3.7rem;
    gap: 1rem;
  }
  .line-1{
    width: 8.4rem;
    border: 1px solid  #777;
  }
  .line-2{
    width: 8.4rem;
    border: 1px solid  #777;
    position: relative;
  }
  .or-text{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.7rem;
    color: #444444;
  }
.group-9 {
    border-radius: 0.8rem;
    border: 0.1rem solid #201f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
    width: 22.8rem;
    cursor: pointer;
    position: relative;
    left: 7.7rem;
    top: 0.7rem;
  }
  .login-with-google-1{
    margin: 0.4rem 0;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.8rem;
    color: #1C1C1C;
  }
  .login-with-google-2{
    margin: 0.3rem 0.2rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
    color: #1C1C1C;
  }
  .google-icon {
    background: url('../assets/google1.png') 50% / cover no-repeat;
    margin-right: 0.4rem;
    width: 1.9rem;
    height: 1.9rem;
  }
  
  .dont-have-an-account {
    margin-right: 0.4rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.07rem;
    line-height: 2.5;
    color: #000000; 
    position: absolute;
    bottom: 1.3rem;
    left: 9.7rem;
  }
  .sign-up {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.07rem;
    line-height: 2.5;
    color: #589A65;
    cursor: pointer;
    position: absolute;
    bottom: 1.3rem;
    left: 20.9rem;
  }
.Sun_Image{
    background: url('../assets/WhatsApp_Image_2024-04-05_at_15.43.43_c487934a-removebg-preview.png') 50% / cover no-repeat;
    width: 3.9rem;
    height: 7.6rem;
    z-index: 1;
    position: relative;
    top: 70%;
    right: 89.7%;
}